<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

<h2>Database Results</h2>

<table>
	<tr>
		<th>Actividades ofrecidas
	</tr>
	
	<% results.forEach(function(r) { %>
		<tr><td><%= r.id %> - <%= r.name %></td></tr>
	<% }); %>
	
</table>

</body>
</html>