<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

<h2>Lista de precios de los servicios</h2>

<table>
	<tr>
		<th>Actividades ofrecidas
		<th>Precio
	</tr>
	
	<% results.forEach(function(r) { %>
		<tr>
			<td><%= r.name %></td>
			<td><%= r.price%>€</td>
		</tr>
	<% }); %>
	
</table>

</body>
</html>