<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

<h2>Database Results</h2>

<table>
	<% results.forEach(function(r) { %>
		<tr><%= r.id %> - <%= r.name %></tr>
	<% }); %>
</table>

</body>
</html>