<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<h1>Hotel JMCA</h1>
<h2>Lista de precios de los servicios</h2>

<table>
	<tr>
		<th>Servicio ofrecido
		<th>Precio
	</tr>
	
	<% results.forEach(function(r) { %>
		<tr>
			<td><%= r.name %></td>
			<td><%= r.price%>€</td>
		</tr>
	<% }); %>
	
</table>

<p>Para conocer el precio de las actividades de ocio fuera del hotel (excursiones, visitas, etc.) preguntar en recepción.</p>

</body>
</html>