<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
	<br>
    <h2>Bienvenido al <%= title %></h2>
	<br>
	<div>
		<h3>Carita ascii</h3>
		<p><%= face %></p>
	</div>
	<br>
	<p>Si desea navegar ver las actividades que se organizan y los precios, pulse un botón</p>
	<br>
	<form method="get" action="/servicios">
        <input type="submit" value="Ver Servicios" />
    </form>
	<br>
	<form method="get" action="/db">
        <input type="submit" value="Ver Lista de Precios" />
    </form>
	<br>
	<form method="get" action="/">
        <input type="submit" value="Ver Inicio" />
    </form>
  </body>
</html>