<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

<h2>Actividades de ocio fuera del hotel</h2>

<table>
	<tr>
		<th>Actividad
		<th>Duración
		<th>Hora
	</tr>
	
	<% results.forEach(function(r) { %>
		<tr>
			<td><%= r.name %></td>
			<td><%= r.duration%>horas</td>
			<td><%= r.time%>horas</td>
		</tr>
	<% }); %>
	
</table>

<table>
	<tr>
		<td>
			<img src="/images/nublo.jpg" width=200 height=100>
		</td>
		<td>
			<img src="/images/tamadaba.jpg" width=200 height=100>
		</td>
		<td>
			<img src="/images/vegueta.jpg" width=200 height=100>
		</td>
	</tr>
	<tr>
		<td>
			<img src="/images/cueva.jpeg" width=200 height=100>
		</td>
		<td>
			<img src="/images/kayak.jpg" width=200 height=100>
		</td>
		<td>
			<img src="/images/karting.jpg" width=200 height=100>
		</td>
	</tr>
</table>

<p>Para conocer el precio de las actividades de ocio fuera del hotel (excursiones, visitas, etc.) preguntar en recepción.</p>

</body>
</html>