<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Los servicios que se ofertan en este hotel son:</h2>
	<p>Desayuno de tipo buffet, almuerzo de tipo buffet, cena en modo menú.</p>
	<p>Además, también podrá disfrutar de nuestro gimnasio y relajarse en nuestro spa</p>
	<p>También organizamos actividades de ocio en el exterior, como excursiones, visitas guiadas a museos, etc.</p>
  </body>
</html>
